<ul>
	<% @twitter.each do |t| %>
		<li><%= t %></li>
	<% end %>
</ul>

<ul>
	<% @google.each do |g| %>
		<li><%= g.title %></li>
	<% end %>
</ul>

<ul>
<% @fb.each do |f| %>
<li>[<%= f["story"] %><%= f["created_time"].to_date.strftime("%m/%d/%Y") %>]</li>
<% end %>
<%= @next_feed %>
</ul>